#console{
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: center;
    color: green;
    background-color: greenyellow;
    border-radius: 50px;
    margin: 3px solid green;
    padding-top: 15px;
    

}
body{
    background-color: rgba(243, 228, 228, 0.847);
    justify-content: center;
    text-align: center;
    padding: 20px;
    
    

}
.font{
    font-size: larger;
    white-space: pre-line;
}